@model ICollection<Usuario>
@{
    ViewData["Title"] = "Usuarios cadastrados";
}

<h2>Usuários</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Senha</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Usuario item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.Login</td>
                        <td>@item.Senha</td>
                        <td><a href="/Usuario/Edicao/@item.Id">Editar</a></td>
                        <td><a href="/Usuario/Exclusao/@item.Id">Excluir</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>